<h1>Phrases API Consumer</h1>

<button id="random">Random Phrase</button>
<span id="random-result"></span>

<div></div>
<hr>

<button id="append">Append Phrase</button>
<input type="text" id="append-input">



